<html>
    <head>
        <title>home page</title>
    </head>

    <body>

        <h1>Form</h1>

        <form action= "/signin" method ="post">

            name:
            <input type= "text" name = "name">
        
            <br>  
            
            Email:
            <input type= "text" name = "email">
           
            <br>      
               

            
            <input type= "submit" value = "log in">
            
            <br>
            




        </form>




    </body>

</html>