<html>
    <head>
        <title>login</title>
    </head>

    <body>

        <h1>login</h1>

        <form action= "/signin" method ="post">

    
            <label>
                Email:
                <input type= "text" name = "email">
            </label>
            <br>

            <label>
                Password:
                <input type= "text" name = "password">
            </label>
            <br>

            <label>
                <input type= "submit" value = "log in">
            </label>
            <br>
            




        </form>


    </body>

</html>