<html>
    <head>
        <title>home page</title>
    </head>

    <body>
        <form action = "/upload" method = "post" enctype="multipart/form-data">
             <input type= "file" name = "file"    />
             <br>
             <input type= "txt" placeholder= "enter a name" name = "name"    />
            <input type= "submit" value = "upload"    />
        </form>

        <img width="200" src= "files/goku.jpg"/>

        <img width="200" src= "static/space.jpg"/>




    </body>

</html>